.event-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    height: 150px;
    width: 100%;
}

.top h1 {
    color: aliceblue;
}

.scroll {
    flex: 1;
    height: 500px;
    width: 100%;
    gap: 100px;
    overflow-x: auto;
    overflow-y: hidden;  /* Disable vertical scrolling */

    display: flex;
    align-items: center;
}

.black-background {
    background-color: #404040;
    color: aliceblue;
}

.yellow-progress{
    background: #facc15;
  }
