div {
    padding: 0;
    margin: 0;
}

.background {
    height: 100vh;
    width: 100wh;
    background-color: #141013;

    display: grid;
    grid-template-rows: auto 1fr; /* Two rows: one for the top div and one for the bottom divs */
    grid-template-columns: 1fr;    /* One column to start, will be split later */
}

.top-navbar {
    height: 70px;
    grid-column: span 1; 
    border-bottom: solid 1px #F7F7F7;

    padding: 0 10px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.notif-parent {
    position: relative;
    display: inline-block;
}

.notif-container {
    background-color: #3d3d3d;
    position: absolute;
    border-radius: 16px;
    border:#FFF65C solid 1px;
    padding: 0 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 200px;
    width: 280px;
    right: 50px;
    top: 50px;
}

.notif {
    background-color: #81849b;
    border-radius: 16px;
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;

    width: 90%;
}

.notif button{
    background-color: #FFF65C;
    border: solid 1px #FFF65C;
    border-radius: 7px;
    padding: 8px;
    color: #242424;
}

.side-navbar {
    grid-column: span 1;     /* Left div takes 30% of the width */
    width: 280px;              /* Explicitly set the width */
    border-right: solid 1px #F7F7F7;
}

.body-container {
    height: 100%;
    width: 100%;

    display: flex;
    overflow-x: auto;
    overflow-y: hidden;  /* Disable vertical scrolling */
}

.main-content {
    padding: 20px;
    background-color: #141013;     
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.icon {
    height: 47px;
    width: 47px;
    border-radius: 50%;
}

.input-myLocation {
  width: 250px;
  background-color: #242424;
  border: none;
  border-radius: 7px;
  padding: 8px;
  color: #F7F7F7;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.vert {
    padding: 20px 0;
    flex-direction: column;
    border-bottom: solid 1px #F7F7F7;
}

.bell-icon:hover {
    cursor: pointer;
}

.friends {
    padding: 20px 0;
    flex-direction: column;
}

.button-s1 {
    width: 250px;
    background-color: #242424;
    border: none;
    border: solid 1px #FFF65C;
    border-radius: 10px;
    padding: 10px;
    color: #F7F7F7;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.button-s1:hover {
    background-color: #464646;
}

.button-s1:active {
    background-color: #818181;
}

.button-s2 {
    width: 200px;
    background-color: #FFF65C;
    border: solid 1px #FFF65C;
    border-radius: 7px;
    padding: 8px;
    color: #242424;
}

.button-s2:hover {
    background-color: #242424;
    color: #FFF65C;
    border: solid 1px #FFF65C;
}

.button-s2:active {
    background-color: #616161;
    color: #FFF65C;
    border: solid 1px #FFF65C;
}